$main-dark: #2f4d38;
$main-light: #b3f3be;
$second-dark: #29322f;
$second-light: #85cab0;
$rich-black: #010203;
$small-break: 670px;
$medium-break: 820px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $main-light;
}

//Weight is value from 300-900
body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: $rich-black;
    color: $main-light;
    min-width: 370px;
}

body :not(nav) {
    max-width: 1300px;
}

#navbar {
    padding-left: 2rem;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: $main-dark;
    font-weight: 600;
    font-size: 120%;
    margin: 0 auto;
    z-index: 1000002;

    .active::before {
        content: "";
        position: absolute;
        height: 4px;
        background-color: $second-light;
        bottom: 0;
        left: 0;
        right: 0;

    }

    a {
        display: block;
        padding: 1rem 2rem;
        background-color: $main-dark;
        text-decoration: none;
        color: $main-light;
        transition-duration: 300ms;
        position: relative;

        @media only screen and (max-width: $medium-break) {
            padding: 1rem 1rem;
        }

        &:hover {
            background-color: $second-dark;
        }
    }



    @media only screen and (max-width: $small-break) {
        display: none;
        flex-flow: column nowrap;
        position: absolute;
        left: 0px;
        top: 70px;
        width: auto;
        padding-left: 0;


        a {
            border-bottom: 1px solid black;
        }
    }
}

#mobile-nav {
    display: none;
    height: 70px;

    @media only screen and (max-width: $small-break) {
        display: block;
        padding: 0.7rem;
        //filter to change the colour to the main-light colour
        filter: invert(94%) sepia(5%) saturate(2213%) hue-rotate(68deg) brightness(100%) contrast(92%);
    }
}

nav {
    background-color: $main-dark;
}

header {
    margin: 1rem 2rem;

    h1 {
        font-size: 500%;
        font-weight: 400;

        @media only screen and (max-width: $small-break) {
            font-size: 250%;
        }
    }

    p {
        margin-top: 0.5rem;
        width: fit-content;
        padding: 0.5rem 1rem;
    }

    img {
        width: 100%;
        max-width: 200px;
        border-radius: 100%;
    }
}

#home-main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1rem 2rem;

    div.business-links {
        display: flex;
        flex-flow: column nowrap;
        justify-self: center;
        row-gap: 1rem;
        justify-content: space-around;
        width: 80%;
        a {
            background-color: $second-light;
            padding: 1rem 2rem;
            margin: 0 1rem;
            border-radius: 5px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            column-gap: 20%;
            text-decoration: none;
            color: $second-dark;
            font-weight: 500;
            font-size: 150%;
            border: 4px solid $second-light;
            transition-duration: 300ms;

            &:hover {
                border: 4px solid $main-dark;
                transition-duration: 300ms;
            }
        }

        img {
            height: 50px;
        }

        @media only screen and (max-width: $small-break) {
            width: 100%;
        }
    }

    @media only screen and (max-width: $small-break) {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
    }
}

main {
    aside {
        background-color: $second-dark;
        border-radius: 5px;
    }

    p {
        margin: 0.5rem 1rem;
    }
    a {
        text-decoration: underline;
    }
}

.center {
    margin: 0 auto;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4%;
    margin: 0 1rem;
    position: relative;

    .card-arrow::after {
        content: "";
        background: url("../media/arrow_downward_FILL0_wght400_GRAD0_opsz24.svg");
        width: 20px;
        height: 20px;
        background-size: cover;
        display: inline-block;
    }

    div {
        background-color: $second-dark;
        padding: 1rem;
        height: fit-content;
        border-radius: 1rem;
        position: relative;
        transition-duration: 200ms;

        &:hover {
            margin-top: 10px;
            transition-duration: 200ms;
            cursor: pointer;
        }
        &:active {
            margin-top: 5px;
            transition-duration: 100ms;
        }
    }

    img {
        width: 100%;
        border-radius: 1rem;
    }

    @media only screen and (max-width: $medium-break) {
        grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: $small-break) {
        display: flex;
        flex-flow: column nowrap;
        margin: 0 2rem;
        gap: 1rem;
    }
}

.card-content {
    margin: 1rem 2rem;
    img {
        width: 100%;
    }
}

#card-content-1, #card-content-2, #card-content-3 {
    display: none;
}