* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Weight is value from 300-900
body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#navbar {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #3c3c3c;

    .active {
        background-color: #595959;
    }

    a {
        display: block;
        padding: 1rem 2rem;
        background-color: #3c3c3c;
        text-decoration: none;
        color: white;
        transition-duration: 300ms;

        &:hover {
            background-color: grey;
        }
    }



    @media only screen and (max-width: 650px) {
        display: none;
        flex-flow: column nowrap;
        position: absolute;
        left: 0px;
        top: 30px;
        width: auto;

        a {
            border: 1px solid black;
        }
    }
}

nav img {
    display: none;
    height: 30px;

    @media only screen and (max-width: 650px) {
        display: block;
    }
}